.container{
    
    height: 400px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter{
    display: flex;
    flex: 2 2 20%;
    height: 400px;
    flex-direction: column;
}
.content{
    display: flex;
    flex: 3 3 40%;
    height: 400px;
    overflow-y: scroll;
}
.img-lotacao{
    background-image: url('https://image.winudf.com/v2/image1/Y29tLmxzcHNvZnR3YXJlcy5sb3RhY2FvX2hvcmFyaW9fZGVfb25pYnVzX2ljb25fMTU5MzEyODM3OV8wOTY/icon.png?w=100&fakeurl=1');
    background-size: cover;
    width: 40px;
}
.tab-content{
    display: flex   ;
}
.form-filter{
    padding: 0px 10px;
}
mat-tab-group{
    height: 400px;
}